{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <style>
        p {
            max-width: 600px;
        }
    </style>
    <p>
        <strong>Welcome to Admin Dashboard!</strong>
    </p>
    </p>
{% endblock %}
